.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image {
  grid-area: image;
  width: 100%;
  max-width: 730px;
}

.text {
  display: flex;
  padding-top: 3rem;
}

.main h1 {
  width: 350px;
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
  /* padding: 2rem 2rem 1rem 0; */
}

.main p {
  grid-area: article;
  width: 300px;
  margin: 0;
}

.main button {
  grid-area: button;
  width: 185px;
  height: 50px;
  background-color: hsl(5, 85%, 63%);
  border: none;
  color: hsl(36, 100%, 99%);
  font-weight: 600;
  letter-spacing: 3px;
}
