.main {
  width: 100%;
  display: grid;
  grid-template-areas:
    'image image'
    'heading article'
    'heading button';
  gap: 3rem;
}

.image {
  grid-area: image;
  width: 100%;
  max-width: 730px;
}

.main h1 {
  grid-area: heading;
  width: 300px;
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
}

.main p {
  grid-area: article;
  width: 300px;
}

.main button {
  grid-area: button;
  width: 185px;
  height: 50px;
  background-color: hsl(5, 85%, 63%);
  border: none;
  color: hsl(36, 100%, 99%);
  font-weight: 600;
  letter-spacing: 3px;
}
