.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.image {
  grid-area: image;
  width: 100%;
  max-width: 730px;
}

.mobile_image {
  grid-area: image;
  width: 100%;
  display: none;
}

.text {
  display: flex;
  padding-top: 3rem;
}

.main h1 {
  width: 300px;
  font-size: 5.5rem;
  font-weight: 800;
  margin: 0;
  padding: 0 2rem 1rem 0;
  color: hsl(240, 100%, 5%);
  line-height: 6rem;
}

.article {
  margin-left: 4rem;
}

.main p {
  grid-area: article;
  width: 340px;
  margin: 0 0 4rem 0;
  line-height: 22px;
  color: hsl(236, 13%, 42%);
}

.main button {
  grid-area: button;
  width: 185px;
  height: 50px;
  background-color: hsl(5, 85%, 63%);
  border: none;
  color: hsl(36, 100%, 99%);
  font-weight: 600;
  letter-spacing: 3px;
}

.main button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
}

@media (width < 770px) {
  .image {
    display: none;
  }

  .mobile_image {
    display: block;
    width: 100%;
  }

  .article {
    margin: 0;
  }
}

@media (width < 430px) {
  .text {
    flex-direction: column;
  }
}
