.aside {
  background-color: hsl(240, 100%, 5%);
  width: 100%;
  color: hsl(233, 8%, 79%);
  padding: 0.5rem 0;
}

.aside h2 {
  color: hsl(35, 77%, 62%);
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  padding-left: 2.5rem;
  padding-top: 3rem;
}

.aside p {
  color: hsl(233, 8%, 79%);
}

@media (width < 788px) {
  .aside {
    margin: 0 auto;
  }
}
