.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7rem 0 5.6rem 0;
}

.nav_items {
  display: flex;
  list-style: none;
}

.nav_items li {
  margin-left: 4rem;
}

.logo {
  height: 100%;
}

.link {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}

.link:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

@media (width < 770px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .nav_items li {
    margin: 0 1rem 0 0;
  }

  .nav_items {
    padding-top: 3rem;
  }
}
