.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 5.6rem;
}

.nav_items {
  display: flex;
  list-style: none;
}

.nav_items li {
  margin-left: 4rem;
}

.logo {
  height: 100%;
}
